// Rules:
// Pick one primary palette and a secondary palette
// Pick three colors from the primary palette and one accent from the second palette
// One of the three primary colors is generally a 500, with one being lighter and another darker
// Accent used for switches, links, FAB, sliders

// Change accent color using fallbacks (lighter or darker) if the background doesn't work with it

.text-dark.secondary {
  color:              $dark-secondary;
}

.text-dark.hint {
  color:              $dark-hint;
}

.text-dark.disabled {
  color:              $dark-hint;
}

.text-dark {
  color:              $dark;

  .secondary {
    @extend .text-dark.secondary;
  }

  .hint {
    @extend .text-dark.hint;
  }

  .disabled {
    @extend .text-dark.disabled;
  }
}

nav.nav-bottom.text-dark span,
nav.nav-bottom.text-dark .inactive span {
  color:            $dark-hint;
}

nav.nav-bottom.text-dark .active span {
  color:            $dark;
}

.text-light.secondary {
  color:            $light-secondary;
}

.text-light.hint {
  color:            $light-hint;
}

.text-light.disabled {
  color:            $light-hint;
}

.text-light {
  color:            $light;

  .secondary {
    @extend .text-light.secondary;
  }

  .hint {
    @extend .text-light.hint;
  }

  .disabled {
    @extend .text-light.disabled;
  }
}

nav.nav-bottom.text-light span,
nav.nav-bottom.text-light .inactive span {
  color:              $light-hint;
}

nav.nav-bottom.text-light .active span {
  color:              $light;
}

// Light Theme
body.theme-light {
  @extend .text-dark;
}

body.theme-light nav.app-bar {
  background-color:   $grey-100;
}

body.theme-light {
  background-color:   $grey-50;
}

body.theme-light .card {
  background-color:   $white;
}

//Dark Theme
body.theme-dark {
  @extend .text-light;
}

body.theme-dark nav.app-bar {
  background-color:   $grey-900;
}

body.theme-dark {
  background-color:   #303030;
}

body.theme-dark .card {
  background-color:   $grey-800;
}

// App Bar - 500
// FAB - Accent
// Other Data - 300

.red {
  background-color:   $red-500 !important;
  @extend .text-light;
}

.pink {
  background-color:   $pink-500 !important;
  @extend .text-light;
}

.purple {
  background-color:   $purple-500 !important;
  @extend .text-light;
}

.deep-purple {
  background-color:   $deep-purple-500 !important;
  @extend .text-light;
}

.indigo {
  background-color:   $indigo-500 !important;
  @extend .text-light;
}

.blue {
  background-color:   $blue-500 !important;
  @extend .text-light;
}

.light-blue {
  background-color:   $light-blue-500 !important;
  @extend .text-dark;
}

.cyan {
  background-color:   $cyan-500 !important;
  @extend .text-dark;
}

.teal {
  background-color:   $teal-500 !important;
  @extend .text-light;
}

.green {
  background-color:   $green-500 !important;
  @extend .text-dark;
}

.light-green {
  background-color:   $light-green-500 !important;
  @extend .text-dark;
}

.lime {
  background-color:   $lime-500 !important;
  @extend .text-dark;
}

.yellow {
  background-color:   $yellow-500 !important;
  @extend .text-dark;
}

.amber {
  background-color:   $amber-500 !important;
  @extend .text-dark;
}

.orange {
  background-color:   $orange-500 !important;
  @extend .text-dark;
}

.deep-orange {
  background-color:   $deep-orange-500 !important;
  @extend .text-light;
}

.brown {
  background-color:   $brown-500 !important;
  @extend .text-light;
}

.grey {
  background-color:   $grey-500 !important;
  @extend .text-dark;
}

.blue-grey {
  background-color:   $blue-grey-500 !important;
  @extend .text-light;
}

.black {
  background-color:   $black !important;
  @extend .text-light;
}

.white {
  background-color:   $white !important;
  @extend .text-dark;
}

@mixin color($color, $val) {
  @extend %#{$color}-#{$val};
}

@mixin accent-color($color, $val) {
  @extend %#{$color}-a-#{$val};
}

@mixin text-color($color, $val) {
  @extend %text-#{$color}-#{$val};
}

@each $color in $colors {
  @each $val in $vals {
    .#{$color}-#{$val} {
      @include color($color, $val);
    }

    nav.nav-bottom.text-active-#{$color}-#{$val} a.nav-link.active span.nav-link-text,
    nav.nav-bottom.text-active-#{$color}-#{$val} a.nav-link.active span.nav-link-icon {
      @include text-color($color, $val);
    }
  }
}

@each $color in $accented-colors {
  @each $val in $accented-vals {
    .#{$color}-a-#{$val} {
      @include accent-color($color, $val);
    }
  }
}