// Scalar transformations
$standard-curve:      cubic-bezier(0.4, 0.0, 0.2, 1.0);

// Temporary in, permanent in
$deceleration-curve:  cubic-bezier(0.0, 0.0, 0.2, 1.0);

// Permanent out
$acceleration-curve:  cubic-bezier(0.4, 0.0, 1.0, 1.0);

// Temporary out
$sharp-curve:         cubic-bezier(0.4, 0.0, 0.6, 1.0);

$duration-fast:       0.2s;
$duration-slow:       0.15s;


