html, body {
  height:             100%;
}

button {
  cursor:             pointer;
}

nav.app-bar {
  position:           fixed;
  overflow:           hidden;
}

nav.app-bar > button.nav-icon {
  float:              left;
  background-color:   transparent;
  border:             none;
  -webkit-appearance: none;
  outline:            none;
}

nav.app-bar > span.app-title {
  float:              left;
}

section.content {
  position:           fixed;
  overflow-y:         auto;
  overflow-x:         hidden;
}

input {
  border:             none;
}

span.clearfix {
  clear: both;
  display: block;
}