.password-card {
    padding:        0 !important;
    margin-left:    8px !important;
    margin-right:   8px !important;
}

.password-card .action-area {
    padding:        8px;
}

.password-card .action-area .button {
    margin-right:   8px;
}

.password-card .card-title {
    margin:         0 0 0 16px;
    padding-top:     24px;
    font-size:      24px;
}

.password-card img.card-avatar {
    height:         90px;
    width:          90px;
    margin-right:   16px;
    padding-top:    16px;
}

div.card.account-status {
    margin-left:    8px !important;
    margin-right:   8px !important;
}