html, body {
  height:             100%;
}

button {
  cursor:             pointer;
}

nav.app-bar {
  position:           fixed;
  overflow:           hidden;
}

nav.app-bar > button.nav-icon {
    float:                       left;
    background-color:            transparent;
    border:                      none;
    -webkit-appearance:          none;
    outline:                     none;
    -webkit-touch-callout:       none;

    -moz-user-select:            none;
    -webkit-user-select:         none;
    -ms-user-select:             none;
    user-select:                 none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

nav.app-bar > span.app-title {
  float:              left;
}

section.content {
  overflow-y:         auto;
  overflow-x:         hidden;
}

input {
  border:             none;
}

span.clearfix {
  clear:              both;
  display:            block;
}

:not(.nav-bottom) > a {
    @include text-theme-color("primary");
    text-decoration: none;
}

:not(.nav-bottom) > a:visited {
    @include text-theme-color("primary");
    text-decoration: none;
    line-height:     18.5px;
}

:not(.nav-bottom) > a > span.material-icons {
    font-size:   14px;
    line-height: 18.5px;
}