$weights: 100 200 300 400 600 700 800 900;
$accent-weights: 100 200 400 700;

// Font face declarations
@font-face {
  font-family:                'Noto';
  font-style:                 normal;
  font-weight:                400;
  src:                        local('Noto Sans'),
                              local('NotoSans'),
                              url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
                              url(../dist/font/NotoSans-Latin.woff2) format('woff2');
  unicode-range:              U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family:                'Roboto';
  font-style:                 normal;
  font-weight:                400;
  src:                        local('Roboto'),
                              local('Roboto-Regular'),
                              url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'),
                              url(../dist/font/Roboto-Latin.woff2) format('woff2');
  unicode-range:              U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family:                'Roboto';
  font-style:                 normal;
  font-weight:                300;
  src:                        local('Roboto Light'),
                              local('Roboto-Light'),
                              url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
                              url(../dist/font/RobotoLight-Latin.woff2) format('woff2');
  unicode-range:              U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family:                'Roboto';
  font-style:                 normal;
  font-weight:                500;
  src:                        local('Roboto Medium'),
                              local('Roboto-Medium'),
                              url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2'),
                              url(../dist/font/RobotoMedium-Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family:                'Roboto';
  font-style:                 normal;
  font-weight:                700;
  src:                        local('Roboto Bold'),
                              local('Roboto-Bold'),
                              url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
                              url(../dist/font/RobotoBold-Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family:                'Material Icons';
  font-style:                 normal;
  font-weight:                400;
  src:                        local('Material Icons'),
                              local('MaterialIcons-Regular'),
                              url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
                              url(../dist/font/MaterialIcons-Regular.woff2) format('woff2');
}

// Styling all elements
html, body, * {
  font-family:                "Roboto", "Noto", sans-serif;
  -webkit-font-smoothing:     antialiased;
  -webkit-text-size-adjust:   100%;
}

$text-title-line-height:      44px;
$text-subhead-line-height:    32px;
$text-body-line-height:       25px;
$text-caption-line-height:    32px;
$text-button-line-height:     32px;

@mixin font($size, $color, $weight) {
  font-size:                  $size * 1px;
  @if ($color == "light") {
    color:                    $light;
  } @else if($color == "dark") {
    color:                    $dark;
  } @else {
    color:                    $color;
  }
  font-weight:                $weight;
}

@mixin text-title($size) {
  font-size:                  $size * 1px;
  font-weight:                500;
  line-height:                $text-title-line-height;
}

@mixin text-subhead($size) {
  font-size:                  $size * 1px;
  font-weight:                400;
  line-height:                $text-subhead-line-height;
}

@mixin text-body($size) {
  font-size:                  $size * 1px;
  font-weight:                400;
  line-height:                $text-body-line-height;
}

@mixin text-caption($size) {
  font-size:                  $size * 1px;
  font-weight:                400;
  line-height:                $text-caption-line-height;
}

@mixin text-button($size) {
  font-size:                  $size * 1px;
  text-transform:             uppercase;
  font-weight:                500;
  line-height:                $text-button-line-height;
}

@mixin text-display-4 {
    font-size:      112px;
    font-weight:    300;
    line-height:    128px;
    letter-spacing: -5px;
}

.text-display-4 {
  font-size:                  112px;
  font-weight:                300;
  line-height:                128px;
  letter-spacing:             -5px;
}

.text-display-4[lang|="ar"], .text-display-4[lang|="bn"], .text-display-4[lang|="fa"], .text-display-4[lang|="gu"], .text-display-4[lang|="hi"],
.text-display-4[lang|="km"], .text-display-4[lang|="kn"], .text-display-4[lang|="lo"], .text-display-4[lang|="ml"], .text-display-4[lang|="mr"],
.text-display-4[lang|="my"], .text-display-4[lang|="ne"], .text-display-4[lang|="pa"], .text-display-4[lang|="si"], .text-display-4[lang|="ta"],
.text-display-4[lang|="te"], .text-display-4[lang|="th"], .text-display-4[lang|="ur"], .text-display-4[lang|="vi"],
.text-display-4[lang|="zh"], .text-display-4[lang|="ja"], .text-display-4[lang|="ko"],
.text-display-4.lang-dense, .text-display-4.lang-tall {
  line-height:                128px + 1.6px;
}

@mixin text-display-3 {
    font-size:   56px;
    font-weight: 400;
    line-height: 64px;
}

.text-display-3 {
  font-size:                  56px;
  font-weight:                400;
  line-height:                64px;
}

.text-display-3[lang|="ar"], .text-display-3[lang|="bn"], .text-display-3[lang|="fa"], .text-display-3[lang|="gu"], .text-display-3[lang|="hi"],
.text-display-3[lang|="km"], .text-display-3[lang|="kn"], .text-display-3[lang|="lo"], .text-display-3[lang|="ml"], .text-display-3[lang|="mr"],
.text-display-3[lang|="my"], .text-display-3[lang|="ne"], .text-display-3[lang|="pa"], .text-display-3[lang|="si"], .text-display-3[lang|="ta"],
.text-display-3[lang|="te"], .text-display-3[lang|="th"], .text-display-3[lang|="ur"], .text-display-3[lang|="vi"],
.text-display-3[lang|="zh"], .text-display-3[lang|="ja"], .text-display-3[lang|="ko"],
.text-display-3.lang-dense, .text-display-3.lang-tall {
  line-height:                64px + 1.6px;
}

@mixin text-display-2 {
    font-size:   45px;
    font-weight: 400;
    line-height: 64px;
}

.text-display-2 {
    font-size:   45px;
    font-weight: 400;
    line-height: 48px;
}

.text-display-2[lang|="ar"], .text-display-2[lang|="bn"], .text-display-2[lang|="fa"], .text-display-2[lang|="gu"], .text-display-2[lang|="hi"],
.text-display-2[lang|="km"], .text-display-2[lang|="kn"], .text-display-2[lang|="lo"], .text-display-2[lang|="ml"], .text-display-2[lang|="mr"],
.text-display-2[lang|="my"], .text-display-2[lang|="ne"], .text-display-2[lang|="pa"], .text-display-2[lang|="si"], .text-display-2[lang|="ta"],
.text-display-2[lang|="te"], .text-display-2[lang|="th"], .text-display-2[lang|="ur"], .text-display-2[lang|="vi"],
.text-display-2[lang|="zh"], .text-display-2[lang|="ja"], .text-display-2[lang|="ko"],
.text-display-2.lang-dense, .text-display-2.lang-tall {
  line-height:                64px + 1.6px;
}

.text-display-1 {
    font-size:   34px;
    font-weight: 400;
    line-height: 40px;
}

.text-display-1[lang|="ar"], .text-display-1[lang|="bn"], .text-display-1[lang|="fa"], .text-display-1[lang|="gu"], .text-display-1[lang|="hi"],
.text-display-1[lang|="km"], .text-display-1[lang|="kn"], .text-display-1[lang|="lo"], .text-display-1[lang|="ml"], .text-display-1[lang|="mr"],
.text-display-1[lang|="my"], .text-display-1[lang|="ne"], .text-display-1[lang|="pa"], .text-display-1[lang|="si"], .text-display-1[lang|="ta"],
.text-display-1[lang|="te"], .text-display-1[lang|="th"], .text-display-1[lang|="ur"], .text-display-1[lang|="vi"],
.text-display-1[lang|="zh"], .text-display-1[lang|="ja"], .text-display-1[lang|="ko"],
.text-display-1.lang-dense, .text-display-1.lang-tall {
  line-height:                52px + 1.6px;
}

.text-headline {
  font-size:                  24px;
  font-weight:                400;
  line-height:                44px;
}

.text-headline[lang|="ar"], .text-headline[lang|="bn"], .text-headline[lang|="fa"], .text-headline[lang|="gu"], .text-headline[lang|="hi"],
.text-headline[lang|="km"], .text-headline[lang|="kn"], .text-headline[lang|="lo"], .text-headline[lang|="ml"], .text-headline[lang|="mr"],
.text-headline[lang|="my"], .text-headline[lang|="ne"], .text-headline[lang|="pa"], .text-headline[lang|="si"], .text-headline[lang|="ta"],
.text-headline[lang|="te"], .text-headline[lang|="th"], .text-headline[lang|="ur"], .text-headline[lang|="vi"],
.text-headline[lang|="zh"], .text-headline[lang|="ja"], .text-headline[lang|="ko"],
.text-headline.lang-dense, .text-headline.lang-tall {
  line-height:                44px + 1.6px;
}

.text-title {
  @include text-title(20);
}

.text-title[lang|="zh"], .text-title[lang|="ja"], .text-title[lang|="ko"],
.text-title.lang-dense {
  @include text-title(21);
  line-height:                $text-title-line-height + 1.6px;
}

.text-title[lang|="ar"], .text-title[lang|="bn"], .text-title[lang|="fa"], .text-title[lang|="gu"], .text-title[lang|="hi"],
.text-title[lang|="km"], .text-title[lang|="kn"], .text-title[lang|="lo"], .text-title[lang|="ml"], .text-title[lang|="mr"],
.text-title[lang|="my"], .text-title[lang|="ne"], .text-title[lang|="pa"], .text-title[lang|="si"], .text-title[lang|="ta"],
.text-title[lang|="te"], .text-title[lang|="th"], .text-title[lang|="ur"], .text-title[lang|="vi"],
.text-title.lang-tall {
    @include text-title(21);
    line-height:              $text-title-line-height + 1.6px;
  font-weight:                400 !important;
}

.text-subhead {
  @include text-subhead(16);
}

.text-subhead[lang|="zh"], .text-subhead[lang|="ja"], .text-subhead[lang|="ko"],
.text-subhead.lang-dense {
  @include text-subhead(17);
  line-height:                $text-subhead-line-height + 1.6px;
}

.text-subhead[lang|="ar"], .text-subhead[lang|="bn"], .text-subhead[lang|="fa"], .text-subhead[lang|="gu"], .text-subhead[lang|="hi"],
.text-subhead[lang|="km"], .text-subhead[lang|="kn"], .text-subhead[lang|="lo"], .text-subhead[lang|="ml"], .text-subhead[lang|="mr"],
.text-subhead[lang|="my"], .text-subhead[lang|="ne"], .text-subhead[lang|="pa"], .text-subhead[lang|="si"], .text-subhead[lang|="ta"],
.text-subhead[lang|="te"], .text-subhead[lang|="th"], .text-subhead[lang|="ur"], .text-subhead[lang|="vi"],
.text-subhead.lang-tall {
    @include text-subhead(17);
    line-height: $text-subhead-line-height + 1.6px;
}

.text-body {
  @include text-body(14);
}

.text-body[lang|="zh"], .text-body[lang|="ja"], .text-body[lang|="ko"],
.text-body.lang-dense {
  @include text-body(15);
  line-height:                $text-body-line-height + 1.6px;
}

.text-body[lang|="ar"], .text-body[lang|="bn"], .text-body[lang|="fa"], .text-body[lang|="gu"], .text-body[lang|="hi"],
.text-body[lang|="km"], .text-body[lang|="kn"], .text-body[lang|="lo"], .text-body[lang|="ml"], .text-body[lang|="mr"],
.text-body[lang|="my"], .text-body[lang|="ne"], .text-body[lang|="pa"], .text-body[lang|="si"], .text-body[lang|="ta"],
.text-body[lang|="te"], .text-body[lang|="th"], .text-body[lang|="ur"], .text-body[lang|="vi"],
.text-body.lang-tall {
    @include text-body(15);
    line-height: $text-body-line-height + 1.6px;
}

.text-caption {
  @include text-caption(12);
}

.text-caption[lang|="zh"], .text-caption[lang|="ja"], .text-caption[lang|="ko"],
.text-caption.lang-dense {
  @include text-caption(13);
  line-height:                $text-caption-line-height + 1.6px;
}

.text-caption[lang|="ar"], .text-caption[lang|="bn"], .text-caption[lang|="fa"], .text-caption[lang|="gu"], .text-caption[lang|="hi"],
.text-caption[lang|="km"], .text-caption[lang|="kn"], .text-caption[lang|="lo"], .text-caption[lang|="ml"], .text-caption[lang|="mr"],
.text-caption[lang|="my"], .text-caption[lang|="ne"], .text-caption[lang|="pa"], .text-caption[lang|="si"], .text-caption[lang|="ta"],
.text-caption[lang|="te"], .text-caption[lang|="th"], .text-caption[lang|="ur"], .text-caption[lang|="vi"],
.text-caption.lang-tall {
    @include text-caption(13);
    line-height: $text-caption-line-height + 1.6px;
}

.text-menu {
  font-size:                  14px;
  font-weight:                500;
  line-height:                32px;
}

.text-menu[lang|="ar"], .text-menu[lang|="bn"], .text-menu[lang|="fa"], .text-menu[lang|="gu"], .text-menu[lang|="hi"],
.text-menu[lang|="km"], .text-menu[lang|="kn"], .text-menu[lang|="lo"], .text-menu[lang|="ml"], .text-menu[lang|="mr"],
.text-menu[lang|="my"], .text-menu[lang|="ne"], .text-menu[lang|="pa"], .text-menu[lang|="si"], .text-menu[lang|="ta"],
.text-menu[lang|="te"], .text-menu[lang|="th"], .text-menu[lang|="ur"], .text-menu[lang|="vi"],
.text-menu[lang|="zh"], .text-menu[lang|="ja"], .text-menu[lang|="ko"],
.text-menu.lang-dense, .text-menu.lang-tall {
  line-height:                32px + 1.6px;
}

body {
    @include text-body(14);
}

nav.app-bar > span.app-title {
    @include text-title(20);
}

input[type="submit"], input[type="button"], input[type="reset"], button, .button {
  @include text-button(14);
}

input[type="submit"].lang-dense, input[type="button"].lang-dense, input[type="reset"].lang-dense, button.lang-dense, .button.lang-dense,
input[type="submit"][lang|="ja"], input[type="submit"][lang|="ko"], input[type="submit"][lang|="zh"],
input[type="button"][lang|="ja"], input[type="button"][lang|="ko"], input[type="button"][lang|="zh"],
input[type="reset"][lang|="ja"], input[type="reset"][lang|="ko"], input[type="reset"][lang|="zh"],
button[lang|="ja"], button[lang|="ko"], button[lang|="zh"],
.button[lang|="ja"], .button[lang|="ko"], .button[lang|="zh"] {
  @include text-button(15);
  line-height:                $text-button-line-height + 1.6px;
}

input[type="submit"].lang-tall, input[type="button"].lang-tall, input[type="reset"].lang-tall, button.lang-tall, .button.lang-tall, 
input[type="submit"][lang|="ar"], input[type="submit"][lang|="bn"], input[type="submit"][lang|="fa"], input[type="submit"][lang|="gu"], input[type="submit"][lang|="hi"],
input[type="submit"][lang|="km"], input[type="submit"][lang|="kn"], input[type="submit"][lang|="lo"], input[type="submit"][lang|="ml"], input[type="submit"][lang|="mr"],
input[type="submit"][lang|="my"], input[type="submit"][lang|="ne"], input[type="submit"][lang|="pa"], input[type="submit"][lang|="si"], input[type="submit"][lang|="ta"],
input[type="submit"][lang|="te"], input[type="submit"][lang|="th"], input[type="submit"][lang|="ur"], input[type="submit"][lang|="vi"],
input[type="button"][lang|="ar"], input[type="button"][lang|="bn"], input[type="button"][lang|="fa"], input[type="button"][lang|="gu"], input[type="button"][lang|="hi"],
input[type="button"][lang|="km"], input[type="button"][lang|="kn"], input[type="button"][lang|="lo"], input[type="button"][lang|="ml"], input[type="button"][lang|="mr"],
input[type="button"][lang|="my"], input[type="button"][lang|="ne"], input[type="button"][lang|="pa"], input[type="button"][lang|="si"], input[type="button"][lang|="ta"],
input[type="button"][lang|="te"], input[type="button"][lang|="th"], input[type="button"][lang|="ur"], input[type="button"][lang|="vi"],
input[type="reset"][lang|="ar"], input[type="reset"][lang|="bn"], input[type="reset"][lang|="fa"], input[type="reset"][lang|="gu"], input[type="reset"][lang|="hi"],
input[type="reset"][lang|="km"], input[type="reset"][lang|="kn"], input[type="reset"][lang|="lo"], input[type="reset"][lang|="ml"], input[type="reset"][lang|="mr"],
input[type="reset"][lang|="my"], input[type="reset"][lang|="ne"], input[type="reset"][lang|="pa"], input[type="reset"][lang|="si"], input[type="reset"][lang|="ta"],
input[type="reset"][lang|="te"], input[type="reset"][lang|="th"], input[type="reset"][lang|="ur"], input[type="reset"][lang|="vi"],
button[lang|="ar"], button[lang|="bn"], button[lang|="fa"], button[lang|="gu"], button[lang|="hi"],
button[lang|="km"], button[lang|="kn"], button[lang|="lo"], button[lang|="ml"], button[lang|="mr"],
button[lang|="my"], button[lang|="ne"], button[lang|="pa"], button[lang|="si"], button[lang|="ta"],
button[lang|="te"], button[lang|="th"], button[lang|="ur"], button[lang|="vi"],
.button.dense[lang|="ar"], .button.dense[lang|="bn"], .button.dense[lang|="fa"], .button.dense[lang|="gu"], .button.dense[lang|="hi"],
.button.dense[lang|="km"], .button.dense[lang|="kn"], .button.dense[lang|="lo"], .button.dense[lang|="ml"], .button.dense[lang|="mr"],
.button.dense[lang|="my"], .button.dense[lang|="ne"], .button.dense[lang|="pa"], .button.dense[lang|="si"], .button.dense[lang|="ta"],
.button.dense[lang|="te"], .button.dense[lang|="th"], .button.dense[lang|="ur"], .button.dense[lang|="vi"] {
    @include text-button(15);
    text-transform: none;
    font-weight:    bold !important;
    line-height:    $text-button-line-height + 1.6px;
}

.uppercase {
  text-transform:             uppercase;
}

.capitalize {
  text-transform:             capitalize;
}

.lowercase {
  text-transform:             lowercase;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    @include text-display-4;
}

h2 {
    @include text-display-3;
}

h3 {
    @include text-display-2;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color:  inherit;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.text-center {
    text-align: center;
}