@keyframes launch-image-in {
  0% {
      transform:      scale(0.95);
      filter:         saturate(0%);
      -webkit-filter: saturate(0%);
  }

  70% {
      transform:      scale(1.0);
      filter:         saturate(100%);
      -webkit-filter: saturate(100%);
  }

  100% {
      transform:      scale(1.0);
      filter:         saturate(100%);
      -webkit-filter: saturate(100%);
  }
}

@keyframes show-progress {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.launch-screen {
    position:        fixed;
    top:             0;
    bottom:          0;
    left:            0;
    right:           0;

    opacity:         1.0;
    z-index:         1000;

    transition:      opacity $duration-slow $acceleration-curve, z-index $duration-slow $acceleration-curve;
    display:         flex;
    justify-content: center;
    align-items:     center;
    flex-direction:  column;

  img.launch-screen-logo {
    max-width:                        200px;

    -webkit-animation:                launch-image-in 2s $standard-curve 0s 1;
  }

  p.launch-screen-tagline,
  div.launch-screen-tagline,
  img.launch-screen-tagline {
    position:                         absolute;
    top:                              75%;
    left:                             50%;
    transform:                        translate(-50%, -50%);
  }

  p.launch-screen-tagline {
    text-transform: uppercase;
    font-weight:    900;
    font-size:      48px;
  }

    progress, div.progress-container {
        min-width: 200px;
        max-width: 500px;
        width:     50%;
        margin:    10vmin auto 0 auto;
        animation: show-progress 2s forwards;
    }
}

div.launch-screen.hidden {
  opacity:                            0.0;
  z-index:                            -1000;
}

body.theme-light div.launch-screen {
    background-color: nth($theme-light, 4);
}

body.theme-dark div.launch-screen {
    background-color: nth($theme-dark, 4);
}