$bottom-nav-height: 56px;

nav.nav-bottom {
    height:          56px;
    bottom:          0;
    left:            0;
    right:           0;
    z-index:         8;
    position:        fixed;
    text-align:      center;
    transition:      bottom $duration-fast $sharp-curve;
    display:         flex;
    justify-content: center;

    a.nav-link {
        padding:          6px 12px 10px 12px;
        height:           $bottom-nav-height;
        min-width:        80px;
        max-width:        168px;
        color:            inherit;
        text-decoration:  none;
        flex-grow:        1;
        flex-shrink:      1;
        box-sizing:       border-box;
        background-color: transparent;
        border:           none;
        cursor:           pointer;

        span.nav-link-text {
            line-height:    24px;
            font-size:      12px;
            vertical-align: top;
        }

        span.nav-link-icon {
            display: block;
        }
    }

    a.nav-link.active {
        @include text-theme-color("primary");

        span.nav-link-text {
            font-size: 14px;
        }
    }
}

nav.nav-bottom.shifting {
    a.nav-link {
        max-width:  96px;
        min-width:  56px;
        transition: max-width $duration-slow, min-width $duration-slow;

        span.nav-link-icon {
            line-height:    $bottom-nav-height - 16px;
            vertical-align: text-bottom;
        }

        span.nav-link-text {
            display: none;
        }
    }

    a.nav-link.active {
        padding:   6px 0 10px 0;
        max-width: 168px;
        min-width: 96px;

        span.nav-link-icon {
            line-height:   24px;
            margin-bottom: 6px;
        }

        span.nav-link-text {
            height:      12px;
            line-height: 12px;
            display:     inline-block;
        }
    }
}

nav.nav-bottom.text-dark {
    span {
        color: $dark-hint;
    }

    .active span {
        color: $dark;
    }
}

nav.nav-bottom.text-light {
    span {
        color: $light-hint;
    }

    .active span {
        color: $light;
    }
}

nav.nav-bottom.scroll-fade.offscreen {
    bottom: -1 * $bottom-nav-height;
}

body > nav.nav-bottom ~ section.content {
    transition:     padding-bottom $duration-fast $sharp-curve;
    padding-bottom: $bottom-nav-height + 16px;
    padding-left:   16px;
}

body > nav.nav-bottom.scroll-fade.offscreen ~ section.content {
    padding-left:   16px;
    padding-bottom: 16px;
}

@media (min-width: 960px) {
    @mixin reset-nav-link {
        min-width: 100%;
        max-width: 100%;
        width:     100%;
        padding:   0;
        height:    $base;
    }

    @mixin reset-nav-link-icon {
        line-height: $base;
        margin:      0;
    }

    @mixin reset-nav-link-text {
        display: none;
    }

    nav.nav-bottom {
        width:   $bottom-nav-height;
        top:     $base;
        left:    0;
        bottom:  0;
        display: block;
        height:  unset;
        z-index: 3;

        a.nav-link {
            @include reset-nav-link;

            span.nav-link-icon {
                @include reset-nav-link-icon;
            }

            span.nav-link-text {
                @include reset-nav-link-text;
            }
        }
    }

    nav.nav-bottom.shifting {
        a.nav-link {
            @include reset-nav-link;

            span.nav-link-icon {
                @include reset-nav-link-icon;
            }

            span.nav-link-text {
                @include reset-nav-link-text;
            }
        }

        a.nav-link.active {
            @include reset-nav-link;

            span.nav-link-icon {
                @include reset-nav-link-icon;
            }

            span.nav-link-text {
                @include reset-nav-link-text;
            }
        }
    }

    body > nav.nav-bottom ~ section.content {
        padding-bottom: 16px;
        padding-left:   $bottom-nav-height + 16px;
    }

    body > nav.nav-bottom.scroll-fade.offscreen ~ section.content {
        padding-bottom: 16px;
        padding-left:   $bottom-nav-height + 16px;
    }
}