nav.nav-bottom {
    height:          56px;
    bottom:          0;
    left:            0;
    right:           0;
    z-index:         8;
    position:        fixed;
    text-align:      center;
    transition:      bottom $duration-fast $sharp-curve, box-shadow $duration-fast $sharp-curve;
    display:         flex;
    justify-content: center;

    a.nav-link {
        padding:                     6px 12px 10px 12px;
        height:                      56px;
        min-width:                   80px;
        max-width:                   168px;
        color:                       inherit;
        text-decoration:             none;
        flex-grow:                   1;
        flex-shrink:                 1;
        box-sizing:                  border-box;
        background-color:            transparent;
        border:                      none;
        cursor:                      pointer;
        -moz-user-select:            none;
        -webkit-user-select:         none;
        -ms-user-select:             none;
        user-select:                 none;
        -webkit-touch-callout:       none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        span.nav-link-text {
            line-height:    24px;
            font-size:      12px;
            vertical-align: top;
            transition:     font-size $duration-slow;
        }

        span.nav-link-icon {
            display: block;
        }
    }

    a.nav-link.active {
        @include text-theme-color("primary");

        span.nav-link-text {
            font-size: 14px;
        }
    }
}

nav.nav-bottom.shifting {
    a.nav-link {
        max-width:  96px;
        min-width:  56px;
        transition: max-width $duration-slow, min-width $duration-slow;

        span.nav-link-icon {
            line-height:    56px - 16px;
            vertical-align: text-bottom;
        }

        span.nav-link-text {
            display: none;
        }
    }

    a.nav-link.active {
        padding:   6px 0 10px 0;
        max-width: 168px;
        min-width: 96px;

        span.nav-link-icon {
            line-height:   24px;
            margin-bottom: 6px;
        }

        span.nav-link-text {
            height:      12px;
            line-height: 12px;
            display:     inline-block;
        }
    }
}

nav.nav-bottom.text-dark {
    span {
        color: $dark-hint;
    }

    .active span {
        color: $dark;
    }
}

nav.nav-bottom.text-light {
    span {
        color: $light-hint;
    }

    .active span {
        color: $light;
    }
}

nav.nav-bottom.scroll-fade.offscreen {
    bottom:     -1 * 56px;
    box-shadow: none;
}

body > nav.app-bar ~ nav.nav-bottom ~ section.content {
    height: calc(100% - 64px - 56px);
}

body > nav.app-bar ~ nav.nav-bottom.scroll-fade ~ section.content {
    transition: height $duration-fast $sharp-curve;
}

body > nav.app-bar ~ nav.nav-bottom.scroll-fade.offscreen ~ section.content {
    height: calc(100% - 64px);
}

body > div.nav-drawer-container.persistent ~ nav.app-bar ~ section.content {
    transition: height $duration-fast $sharp-curve, width $duration-slow;
}

@media (min-width: 960px) {
    @mixin reset-nav-link {
        min-width: 100%;
        max-width: 100%;
        width:     100%;
        padding:   0;
        height:    $base;
    }

    @mixin reset-nav-link-icon {
        line-height: $base;
        margin:      0;
    }

    @mixin reset-nav-link-text {
        display: none;
    }

    nav.nav-bottom.scroll-fade.offscreen {
        @include shadow(8);
    }

    nav.nav-bottom {
        width:   56px;
        top:     $base;
        left:    0;
        bottom:  0;
        display: block;
        height:  unset;
        z-index: 3;

        a.nav-link {
            @include reset-nav-link;

            span.nav-link-icon {
                @include reset-nav-link-icon;
            }

            span.nav-link-text {
                @include reset-nav-link-text;
            }
        }
    }

    nav.nav-bottom.shifting {
        a.nav-link {
            @include reset-nav-link;

            span.nav-link-icon {
                @include reset-nav-link-icon;
            }

            span.nav-link-text {
                @include reset-nav-link-text;
            }
        }

        a.nav-link.active {
            @include reset-nav-link;

            span.nav-link-icon {
                @include reset-nav-link-icon;
            }

            span.nav-link-text {
                @include reset-nav-link-text;
            }
        }
    }

    body > nav.nav-bottom ~ section.content {
        padding-bottom: 16px;
        padding-left:   56px + 16px;
    }

    body > nav.nav-bottom.scroll-fade.offscreen ~ section.content {
        padding-bottom: 16px;
        padding-left:   56px + 16px;
    }

    body > nav.app-bar ~ nav.nav-bottom ~ section.content {
        height: calc(100% - 64px);
    }
}

@media screen and (min-width: 1024px) {

    body > div.nav-drawer-container.persistent ~ nav.nav-bottom {
        transition: left $duration-slow;
    }

    body > div.nav-drawer-container.persistent.open ~ nav.nav-bottom {
        left: 320px;
    }

    body > div.nav-drawer-container.permanent ~ nav.nav-bottom {
        left: 320px;
    }
}