$resolution: 2;
@keyframes background-pulse {
  @for $i from 0 through 100 / $resolution {
    #{$i * $resolution}% {
      background-size: (100% + 8% * (($i * $resolution) / 100)) (100% + 8% * (($i * $resolution) / 100));
    }
  }
}

/* This type of button (the default) should be used in the following cases:
 * - Inline (some cases)
 */
.button {
    min-height:                  36px;
    border-radius:               2px;
    padding-left:                16px;
    padding-right:               16px;
    line-height:                 36px;
    font-size:                   14px;
    font-weight:                 500;
    outline:                     none;
    margin:                      0 8px 0 8px;
    transition:                  box-shadow $duration-slow;
    border:                      none;
    -moz-user-select:            none;
    -webkit-user-select:         none;
    -ms-user-select:             none;
    user-select:                 none;
    -webkit-touch-callout:       none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.button.raised:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.38);
}

.button.dense {
    line-height: 32px;
    min-height:  32px;
    font-size:   13px;
}


/* Flat buttons should be used in the following cases:
 * - On toolbars
 * - In dialogs
 * - Inline (some cases)
 */
.button.flat {
    height:           36px;
    min-width:        88px - 8px - 8px;
    border:           none;
    border-radius:    2px;
    padding-left:     8px;
    padding-right:    8px;
    margin:           6px 8px 6px 8px;
    background-color: transparent;
    cursor:           pointer;
}

// noinspection ALL
.button.flat.focus {
    -webkit-animation:   background-pulse 2s $acceleration-curve 0s infinite alternate;
    animation:           background-pulse 2s $acceleration-curve 0s infinite alternate;
    background-repeat:   no-repeat;
    background-position: center center;
    background-image:    radial-gradient(circle farthest-side at center, rgba(153, 153, 153, 0.08) 0%, rgba(153, 153, 153, 0.08) 80%, rgba(153, 153, 153, 0.30) 80%);
}

.button.flat.disabled.focus, .button.flat.focus[disabled] {
    -webkit-animation: none;
    animation: none;
    background-image: unset;
}

.button.disabled {
    cursor: default;
}

.button.raised.disabled:hover {
    box-shadow: none;
}

// Text Coloring
body.theme-dark {
    .button {
        @include text-light;
    }

    .button.raised {
        @if (variable_exists("theme-primary")) {
            @include theme-color-tint("primary", 500);
            @if (index($light-text, $theme-primary + "-500") != null) {
                @include text-light;
            } @else {
                @include text-dark;
            }
        } @else {
            background-color: nth($theme-light, 1);
            @include text-dark;
        }
    }

    .button.disabled {
        @include text-light-disabled;
        background-color: rgba(255, 255, 255, 0.12);
    }
}

body.theme-light {
    .button {
        @include text-dark;
  }

    .button.raised {
        background-color: nth($theme-light, 1);
    }

    .button.disabled {
        @include text-dark-disabled;
        background-color: rgba(0, 0, 0, 0.12);
  }
}
