@keyframes animate-indeterminate-left {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  67% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate-indeterminate-right {
  0% {
    right: 100%;
  }

  42% {
    right: 0;
  }

  67% {
    right: 0;
  }

  100% {
    right: 0;
  }
}

@keyframes animate-indeterminate-left-2 {
  0% {
    left: 0;
  }

  70% {
    left: 0;
  }

  98% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate-indeterminate-right-2 {
  0% {
    right: 100%;
  }

  50% {
    right: 100%;
  }

  87% {
    right: 0;
  }

  100% {
    right: 0;
  }
}

@keyframes animate-indeterminate-circle {
  0% {
    stroke-dasharray:                 5, 120.66;
    stroke-dashoffset:                31.42;
  }

  12.5% {
    stroke-dasharray:                 94.25, 31.42;
    stroke-dashoffset:                31.42;
  }

  25% {
    stroke-dashoffset:                -62.83;
    stroke-dasharray:                 5, 120.66;
  }

  37.5% {
    stroke-dashoffset:                -62.83;
    stroke-dasharray:                 94.25, 31.42;
  }

  50% {
    stroke-dashoffset:                -157.07;
    stroke-dasharray:                 5, 120.66;
  }

  62.5% {
    stroke-dashoffset:                -157.07;
    stroke-dasharray:                 94.25, 31.42;
  }

  75% {
    stroke-dashoffset:                -251.33;
    stroke-dasharray:                 5, 120.66;
  }

  87.5% {
    stroke-dashoffset:                -251.33;
    stroke-dasharray:                 94.25, 31.42;
  }

  100% {
    stroke-dashoffset:                -345.57;
    stroke-dasharray:                 5, 120.66;
  }
}

@keyframes animate-circle-rotate {
  100% {
    transform:                        rotate(360deg);
  }
}

div.progress-container {
  display:          block;
  position:         relative;
  width:            100%;
  height:           5px;
  background-color: map-get($colors, $theme-primary + "-100");

  div[class*="-bar"] {
    position:         absolute;

    height:           100%;
    background-color: map-get($colors, $theme-primary + "-800");
  }

  div.indeterminate-bar {
    animation:                        animate-indeterminate-left 2.5s linear infinite, animate-indeterminate-right 2.5s linear infinite;
    -webkit-animation:                animate-indeterminate-left 2.5s linear infinite, animate-indeterminate-right 2.5s linear infinite;

    -webkit-animation-timing-function: ease-in-out;
  }

  div.indeterminate-bar ~ div.indeterminate-bar {
    -webkit-animation:                animate-indeterminate-left-2 2.5s linear infinite, animate-indeterminate-right-2 2.5s linear infinite;

    -webkit-animation-timing-function: ease-out;
  }

  div.determinate-bar {
    transition:                       width $duration-slow ease-out;
    width:                            0;
  }
}

@if variable_exists($theme-primary) {
  div.progress-container {
    background-color: map_get($colors, $theme-primary + "-100");

    div[class*="-bar"] {
      position:         absolute;

      height:           100%;
      background-color: map_get($colors, $theme-primary + "-800");
    }
  }
}

div.progress-container.circular {
  display:                            block;
  position:                           relative;
  width:                              50px;
  height:                             50px;
  background-color:                   rgba(0, 0, 0, 0);

  svg.indeterminate-spinner {
    -webkit-animation:                animate-circle-rotate 1.5s infinite linear;
    height:                           50px;
    width:                            50px;

    circle {
        -webkit-animation: animate-indeterminate-circle 6s infinite ease-in-out;
        animation:         animate-indeterminate-circle 6s infinite ease-in-out;
      stroke:              map-get($colors, $theme-primary + "-800");
        stroke-width:      4px;
        fill:              none;
    }
  }

  svg.determinate-spinner {
    -webkit-animation:                animate-circle-rotate 2.0s 0s $deceleration-curve 1;
    height:                           50px;
    width:                            50px;

    circle {
        transition:        stroke-dasharray 2s $deceleration-curve;
      stroke:              map-get($colors, $theme-primary + "-800");
        stroke-width:      4px;
        fill:              none;
        stroke-dasharray:  0, 125.67;
        stroke-dashoffset: 31.42;
    }
  }
}