span.chip {
  height:                             32px;
}

span.chip span.label {
  @include font(13, $dark);
  margin-left:                        12px;
}

span.chip.nodelete span.label {
  margin-right:                       12px;
}

span.chip.contact span.label {
  margin-left:                        8px;
  margin-right:                       12px;
}

span.chip span.remove {
  border-radius:                      12px;
  height:                             24px;
  width:                              24px;
  background-color:                   $dark-secondary;

}

span.chip img.icon {
  height:                             24px;
  width:                              24px;
  margin:                             4px;
}