@import "../motion";

@keyframes launch-image-in {
  0% {
    transform:                        scale(0.95) translate(-50%, -50%);
    -webkit-filter:                   saturate(0%);
  }

  70% {
    transform:                        scale(1.0) translate(-50%, -50%);
    -webkit-filter:                   saturate(100%);
  }

  100% {
    transform:                        scale(1.0) translate(-50%, -50%);
    -webkit-filter:                   saturate(100%);
  }
}

div.launch-screen {
  position:                           fixed;
  top:                                0;
  bottom:                             0;
  left:                               0;
  right:                              0;

  background-color:                   #fff;

  opacity:                            1.0;
  z-index:                            1000;

  transition:                         opacity $duration-slow $acceleration-curve, z-index $duration-slow $acceleration-curve;

  img.launch-screen-logo {
    position:                         absolute;
    top:                              50%;
    left:                             50%;
    transform:                        translate(-50%, -50%);

    max-width:                        200px;

    -webkit-animation:                launch-image-in 2s $standard-curve 0s 1;
  }

  p.launch-screen-tagline,
  div.launch-screen-tagline,
  img.launch-screen-tagline {
    position:                         absolute;
    top:                              75%;
    left:                             50%;
    transform:                        translate(-50%, -50%);
  }

  p.launch-screen-tagline {
    @extend .uppercase;

    font-weight:                      900;
    font-size:                        48px;
  }
}

div.launch-screen.hidden {
  opacity:                            0.0;
  z-index:                            -1000;
}